.backgroundContainer {
    width: 100%;
    height: 150%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.containerLogin {
    background-color: white;
    border-radius: 10px;
    width: 380px;
    height: 410px;
    align-items: center;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 550px;
    margin-top: 150px;
}

.containerLogin h1 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    color: #BD0707;
    margin-bottom: 30px;
    margin-top: 40px;
    display: block;
}

.containerLogin  input {
    display: block;
    width: 350px;
    height: 50px;
    background: rgba(224, 200, 200, 0.25);
    border: 2px solid #BD0707;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}

.containerLogin .button button {
    width: 350px;
    height: 50px;
    background: #BD0707;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 10px;
}

.teks p {
    width: 276px;
    height: 25px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    align-items: center;
    margin-left: 40px;
}

.teks p a {
    text-decoration: none;
    color: #000000;
}